<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/srachal674">Shannon</a>
  </p>
  <p>
  </p>
  
  <p>If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com">here</a>
  </p>
<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-fluid' %>
  </div>  
</div>

<div class="col-12 col-sm-7 offset-sm-1">
  <h2 class="text-centered">Shannon Rachal</h2>
    <br />
    <p>
      Shannon has taught high school electives for 7 years. During that time she taught all grade levels the basic coding techniques of Python and Microsoft Office. She has a Masters of Education in Instructional Technology from McNeese State University and is certified in English and Career and Technical Education: Industrial and Emerging Technologies. She hopes to use her coding knowledge and experience to enhance her students learning as well as one day work as a freelance programmer.
    </p>
  </div>
</div>
<br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
